<h1 class='panel-heading'>COMMUNIST AGENDA ENTRIES</h1>

<h3>THERE ARE CURRENTLY <span class='red'>{{model.length}}</span> COMMUNIST GOVERNMENT OVERSIGHT SCHEMES IN PROGRESS</h3>
<ul>
  {{#each model as |bill|}}
  <li><span style="font-weight: bold;">{{bill.bill_id}}</span>
    <br>
    {{bill.context}} <a href={{bill.url}}>{{bill.url}}</a></li>
  {{/each}}
</ul>
